@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.content {
    @extend %flexItemCenter;
    justify-content: space-between;

    &.sport {
        display: none;

        @include abstracts.screen(lg) {
            display: flex;
        }
    }
}

.contentHeader {
    @extend %flexItemCenter;
    gap: 10px;
    color: #185745;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.38;

    @include abstracts.screen(lg) {
        font-size: 2.2rem;
    }

    @include abstracts.screen(md) {
        font-size: 1.8rem;
    }
}

.contentLink {
    color: #185745;
    font-weight: 600;
    line-height: 1.5;

    &:hover {
        text-decoration: underline;
    }
}
