.formContainer {
    padding: 30px;
    max-height: 90%;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    height: 350px;
    margin-top: 20px;
}

.formBox {
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.formLogo {
    width: 143px;
    height: 48px;
    object-fit: cover;
}

.formHeading {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.46;
    text-align: center;
}

.formGroup {
    width: 370px;

    &.topUp {
        width: 100%;
    }
}

.formGroup + .formGroup {
    margin-top: 15px;
}

.formInputBox {
    position: relative;
}

.formInput {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #ed4337;

    color: #000;
    font-size: 1.6rem;
    line-height: 1.5;

    &::placeholder {
        font-size: 1.6rem;
        opacity: 0.8;
    }

    &:focus {
        border-color: #00432a;
    }
}

.formIcon {
    position: absolute;
    top: 50%;
    right: 15px;
    translate: 0 -50%;
    cursor: pointer;
}

.formError {
    margin-top: 5px;
    color: #ed4337;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.57;
}

.formCheckbox {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.formCheck:checked ~ .checkBox {
    background: #00432a;
}

.checkBox {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00432a;
    border-radius: 3px;
}

.formLink {
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.formBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 60px;
    border-radius: 99px;
    background: #00432a;

    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;

    &:hover {
        opacity: 0.8;
    }
}

.formBot {
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;
}

// Top up
.formTopUp,
.formWithDraw {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;

    &.active {
        display: grid;
    }

    &.atm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.formLabel {
    display: block;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.44;
    cursor: pointer;
    color: #185745;
}

.formTopUpTitle {
    color: #000;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.5;
}

.formTopUpBtn {
    width: 105px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 99px;
    opacity: 0.6;
    background: #00432a;

    color: #fff;
    font-weight: 600;
    line-height: 1.5;
}
