@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.liveCasino {
    margin-top: 30px;
}

.liveCasinoGames {
    position: relative;
    margin-top: 30px;
    @extend %flexItemCenter;
    overflow: hidden;

    @include abstracts.screen(lg) {
        margin-top: 10px;
    }
}

.liveCasinoBg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 597px;
    height: 482px;
    object-fit: cover;

    @include abstracts.screen(xl) {
        display: none;
    }
}

.gamesCasino {
    margin-left: auto;
}

.gamesLarge,
.gamesSmall {
    display: grid;
    gap: 20px;
}

.gamesLarge {
    grid-template-columns: repeat(2, 1fr);
}

.gamesSmall {
    margin-top: 20px;
    grid-template-columns: repeat(6, 1fr);

    @include abstracts.screen(lg) {
        display: none;
    }
}

.GameLargeImg,
.gameSmallImg {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.GameLargeImg {
    height: 237px;

    @include abstracts.screen(lg) {
        height: auto;
    }
}

.gameSmallImg {
    height: 164px;
}

.liveCasinoConatiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.liveLarge {
    width: 100%;
    height: 161px;
    object-fit: cover;
    border-radius: 15px;
}
