<div class="footerDesktop">
    <div class="footerTop">
        <div class="container">
            <div class="footerTopImgs">
                <a href="/">
                    <img
                        src="./assets/img/footerLogo.png"
                        alt=""
                        class="footerLogo"
                /></a>
                <div class="footerSeparate"></div>
                <div class="footerCertificate">
                    <img
                        src="./assets/img/certificate/certificate1.png"
                        alt=""
                        class="footerImg"
                    />
                    <img
                        src="./assets/img/certificate/certificate2.png"
                        alt=""
                        class="footerImg"
                    />
                    <img
                        src="./assets/img/certificate/certificate3.png"
                        alt=""
                        class="footerImg"
                    />
                </div>
            </div>
            <div class="footerListText">
                <p class="footerText">
                    99bet được đăng ký tại European Parliament and Commission
                    Transparency Registry với giấy phép số C-39017 vào tháng
                    10/2016.
                </p>
                <p class="footerText">
                    Hiện là thành viên trực thuộc Hiệp hội Cá cược và Trò chơi
                    châu Âu - EGBA (European Gaming & Betting Association).
                </p>
                <p class="footerText">
                    Bằng việc truy cập và sử dụng trang web này, Thành viên xác
                    nhận đã đủ 18 tuổi trở lên và đồng ý tuân thủ các điều khoản
                    cá cược có trách nhiệm của 99bet.
                </p>
                <p class="footerText">
                    Tất cả các trò chơi trên trang web này chỉ dành cho người
                    chơi từ 18 tuổi trở lên. Vui lòng tham khảo Điều kiện & Điều
                    khoản để biết thêm chi tiết.
                </p>
            </div>
        </div>
    </div>
    <div class="footerBot">
        <div class="container">
            <div class="footerBotList">
                <div>
                    <h3 class="footerHeading">Về chúng tôi</h3>
                    <ul class="footerList">
                        <li class="footerItem">
                            <a href="#!">Giới thiệu</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Sự kiện - Khuyến mãi</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Chính sách bảo mật</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Điều kiện và điều khoản</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="footerHeading">Sản phẩm</h3>
                    <ul class="footerList">
                        <li class="footerItem">
                            <a href="#!">Thể thao</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Live casino</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Quay số</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Bắn cá</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="footerHeading">Hỗ trợ người chơi</h3>
                    <ul class="footerList">
                        <li class="footerItem">
                            <a href="#!">Hướng dẫn đăng ký</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Hướng dẫn nạp tiền</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Hướng dẫn rút tiền</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Tin tức</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="footerHeading">Hợp tác đại lý</h3>
                    <ul class="footerList">
                        <li class="footerItem">
                            <a href="#!">Cách đăng ký</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Sự kiện - Khuyến mãi</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Giải đáp thắc mắc</a>
                        </li>
                        <li class="footerItem">
                            <a href="#!">Chơi có trách nhiệm</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footerCopyright">
                <div class="footerSocials">
                    <p class="footerTetx">Tìm hiểu thêm tại:</p>
                    <div class="footerSocialsList">
                        <img
                            src="./assets/icons/fb.svg"
                            alt=""
                            class="footerSocial"
                        />
                        <img
                            src="./assets/icons/tele.svg"
                            alt=""
                            class="footerSocial"
                        />
                        <img
                            src="./assets/icons/whatapp.svg"
                            alt=""
                            class="footerSocial"
                        />
                    </div>
                </div>
                <p class="footerTetx">Bản quyền thuộc về 99bet © 2025</p>
            </div>
        </div>
    </div>
</div>

<div class="footerMobile">
    <div class="footerMobileList">
        <div class="footerBox">
            <div class="footerMobileItem active">
                <img src="./assets/icons/home.svg" alt="" />
                <p>Trang chủ</p>
            </div>

            <div class="footerMobileItem">
                <img src="./assets/icons/promotionMobile.svg" alt="" />
                <p>Khuyến mãi</p>
            </div>
        </div>

        <div class="footerMid">
            <div class="footerMobileIcon">
                <img
                    src="./assets/icons/walletMobile.svg"
                    alt=""
                    class="mobileIcon"
                />
            </div>
            <p>Nạp tiền</p>
        </div>

        <div class="footerBox">
            <div class="footerMobileItem">
                <img src="./assets/icons/messageMobile.svg" alt="" />
                <p>Hỗ trợ</p>
            </div>

            <div class="footerMobileItem">
                <img src="./assets/icons/user.svg" alt="" />
                <p>Tài khoản</p>
            </div>
        </div>
    </div>
</div>
