<div class="headerTop">
    <div class="container">
        <div class="HeaderTopInner">
            <a href="/"
                ><img src="./assets/img/Logo.png" alt="" class="logoTop"
            /></a>
            <div class="slideText">
                <img src="./assets/icons/message.svg" alt="" />
                <p class="textTop">
                    Tham gia kênh Telegram Nhà Cái
                    <span class="textColor">99bet</span> để cập nhật tin tức mới
                    nhất về mọi hoạt động của
                    <span class="textColor">99bet</span>
                </p>
            </div>
            <div class="action">
                <div class="actionProfile">
                    <div class="money">
                        <p>200</p>
                        <img src="./assets/icons/bGold.svg" alt="" />
                    </div>
                    <img
                        src="./assets/img/avatar/avt1.png"
                        alt=""
                        class="avatarAction"
                    />
                    <div class="actionDropdown">
                        <img
                            src="./assets/icons/poligon.svg"
                            alt=""
                            class="dropdownPoligon"
                        />
                        <a href="#!" class="dropdownLink">
                            <img src="./assets/icons/heart.svg" alt="" />
                            <p class="dropdownText">Danh sách yêu thích</p>
                        </a>

                        <a href="#!" class="dropdownLink">
                            <img src="./assets/icons/logOut.svg" alt="" />
                            <p class="dropdownText">Đăng xuất</p>
                        </a>
                    </div>
                </div>
                <button class="btn btnSignUp">Nạp BGold</button>
                <div class="actionLanguage">
                    <img
                        src="./assets/img/laguage/vi.png"
                        alt=""
                        class="flag"
                    />
                    <img
                        src="./assets/icons/arrow-down.svg"
                        alt=""
                        class="iconArrowDown"
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar">
    <div class="container">
        <div class="navbarInner">
            <a href="./sport.html" class="menuItem">
                <img src="./assets/icons/sport.svg" alt="" />
                <p>Thể thao</p>
            </a>
            <div class="menuItem">
                <img src="./assets/icons/dial.svg" alt="" />
                <p>Quay số</p>
            </div>
            <div class="menuItem">
                <img src="./assets/icons/slots.svg" alt="" />
                <p>Slots</p>
                <img src="./assets/icons/hot.svg" alt="" class="menuIcon" />
            </div>
            <div class="menuItem">
                <img src="./assets/icons/live.svg" alt="" />
                <p>Live casino</p>
                <img src="./assets/icons/vie.svg" alt="" class="menuIcon" />
            </div>
            <div class="menuItem">
                <img src="./assets/icons/fish.svg" alt="" />
                <p>Bắn cá</p>
            </div>
            <div class="menuItem">
                <img src="./assets/icons/promotion.svg" alt="" />
                <p>Thể thao</p>
                <img src="./assets/icons/perfo.svg" alt="" class="menuIcon" />
            </div>
        </div>
    </div>

    <div class="navDropdown">
        <img
            src="./assets/img/navDropdown/nav1.png"
            alt=""
            class="navDropdownImg"
        />
        <img
            src="./assets/img/navDropdown/nav2.png"
            alt=""
            class="navDropdownImg"
        />
        <img
            src="./assets/img/navDropdown/nav3.png"
            alt=""
            class="navDropdownImg"
        />
        <img
            src="./assets/img/navDropdown/nav4.png"
            alt=""
            class="navDropdownImg"
        />
    </div>
</nav>
