<div class="headerTop">
    <div class="container">
        <div class="HeaderTopInner">
            <img src="./assets/img/Logo.png" alt="" class="logoTop" />
            <div class="slideText">
                <img src="./assets/icons/message.svg" alt="" />
                <p class="textTop">
                    Tham gia kênh Telegram Nhà Cái
                    <span class="textColor">99bet</span> để cập nhật tin tức mới
                    nhất về mọi hoạt động của
                    <span class="textColor">99bet</span>
                </p>
            </div>
            <div class="action">
                <div class="actionBtn">
                    <button class="btn btnSignIn">Đăng Nhập</button>
                    <button class="btn btnSignUp">Đăng ký</button>
                </div>
                <div class="actionLanguage">
                    <img
                        src="./assets/img/laguage/vi.png"
                        alt=""
                        class="flag"
                    />
                    <img
                        src="./assets/icons/arrow-down.svg"
                        alt=""
                        class="iconArrowDown"
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navbar -->
<nav class="navbar">
    <div class="container">
        <div class="navbarInner">
            <div class="menuItem">
                <img src="./assets/icons/sport.svg" alt="" />
                <p>Thể thao</p>
            </div>
            <div class="menuItem">
                <img src="./assets/icons/dial.svg" alt="" />
                <p>Quay số</p>
            </div>
            <div class="menuItem">
                <img src="./assets/icons/slots.svg" alt="" />
                <p>Slots</p>
                <img src="./assets/icons/hot.svg" alt="" class="menuIcon" />
            </div>
            <div class="menuItem">
                <img src="./assets/icons/live.svg" alt="" />
                <p>Live casino</p>
                <img src="./assets/icons/vie.svg" alt="" class="menuIcon" />
            </div>
            <div class="menuItem">
                <img src="./assets/icons/fish.svg" alt="" />
                <p>Bắn cá</p>
            </div>
            <div class="menuItem">
                <img src="./assets/icons/promotion.svg" alt="" />
                <p>Thể thao</p>
                <img src="./assets/icons/perfo.svg" alt="" class="menuIcon" />
            </div>
        </div>
    </div>
</nav>
